.container-component {
    background-color: white;
    border-radius: 5px;
    height: auto;
}

.attached-in-container-component {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box-list {
    padding-bottom: 7px;
    padding-left: 30px;
}

.buttom-refrech {
    float:right;      
    
}

.box-button {
    height: 35px;
}

.box-title {
    border-bottom: 0.4px groove rgb(255 255 255 / 40%);
}

ol {
    list-style: decimal;
}